/*##################################   DEFAULT STYLE FOR ELEMENTS   ###############################*/
html{
	background-color: #EDF7FD;
	color: #313131;
}
body{
	margin: 0 auto;
	width: 1021px;
}
form abbr{
	border-bottom: 0;
	color: #20B2AA;
	font-weight: bold;
}
fieldset{
	border: 1px solid;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	margin: 250px auto 0;
	padding: 20px;
	width: 550px;
}
	legend{
		font-size: 20px;
	}

/*############################   MAIN STRUCTURE OF SITE   ############################*/
.head{
	background-image: url(../img/headtop.png);
	background-position: center top;
	background-repeat: no-repeat;
	/*display: none; */
	height: 229px;
	margin: 0;
	position: absolute;
	width: 1022px;
	z-index: 99;
}
	.logo{
		background-image: url(../img/logo.png);
		background-position: center top;
		background-repeat: no-repeat;
		height: 168px;
		left: 80px;
		position: relative;
		top: 10px;
		width: 178px;
	}
		.logo a{
			display: block;
			height: 100%;
			width: 100%;
		}
.maindiv{
	font-family: 'Arial';
	background-image: url(../img/headfon.png);
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0 auto;
	position: relative;
	width: 1000px;
	overflow: hidden;
}
	.shadowright, .shadowleft{
		height: 100%;
		position: absolute;
		width: 10px;
	}
	.shadowleft{
		background-image: url(../img/shadowleft.png);
		left: 0;
	}
	.shadowright{
		background-image: url(../img/shadowright.png);
		right: 0;
	}
	.orgname{
		color: #11317c;
		font-family: 'Arial';
		font-size: 20px;
		font-weight: bold;
		left: 350px;
		line-height: 1.2;
		max-width: 500px;
		position: relative;
		text-align: center;
		text-shadow: #FFF 1px 0 0, #FFF 0 1px 0, #FFF -1px 0 0, #FFF 0 -1px 0;
		text-transform: uppercase;
		top: 45px;
		z-index: 100;
	}
	.contacts{
		color: #3761E3;
		position: absolute;
		font-family: 'times';
		font-size: 14px;
		text-align: right;
		right: 20px;
		top: 155px;
		width: 160px;
		z-index: 100;
	}
		.phone{
			font-size: 24px;
			font-weight: bold;
		}
		address{
			font-family: 'Arial';
			font-size: 13px;
			font-style: normal;
			line-height: 18px;
			margin-top: 5px;
		}
	.container{
		display: inline-block;
		float: left;
		margin: 270px 10px 20px 20px;
		width: 720px;
	}
		.container h3{
			text-transform: uppercase;
		}
	/* view news page */
		.container h2{
			margin: 15px 0 5px;
		}
		.date{
			color: #B6B8B9;
			display: block;
			font-family: 'Tahoma';
			font-size: 12px;
			margin-bottom: 15px;
		}
		.annotation{
			display: block;
			font-style: italic;
			margin-bottom: 15px;
		}
	.bottom{
		background-color: #13549A;
		bottom: -7px;
		color: #FFFFFF;
		height: 70px;
		margin: 0;
		position: relative;
		width: 100%;
		overflow: hidden;
	}
		.leftpart, .rightpart{
			font-size: 13px;
			margin-top: 17px;
			position: absolute;
		}
		.leftpart{
			left: 20px;
			text-align: left;
		}
		.rightpart{
			right: 20px;
			text-align: right;
		}
		.bottom a{
			color: #FFFFFF;
		}
.news{
	font-family: 'tahoma';
	margin-bottom: 20px;
	overflow: hidden;
	width: 690px;
}
	.news img{
		border: 2px solid #A2A2A2;
		margin-right: 20px;
		float: left;
	}
	.news div{
		float: left;
		margin: 0;
		width: 546px;
	}
		.news small{
			background-color: #E1A93C;
			color: #FFF;
			display: inline-block;
			font-size: 12px;
			margin-bottom: 10px;
			padding: 5px 15px;
		}
		.news a{
			color: #2281F4;
			display: block;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 15px;
		}
		.news span{
			display: block;
			float: left;
			font-size: 13px;
		}
div.news+hr{
	border: 1px solid #C9D1D6;
}
/*DIV FOR LOGIN ELEMENTS*/
.login{
	margin: 0 auto;
	position: relative;
}
/* PAGINATION */
.pagination{
	font-size: 14px;
	margin-top: 30px;
	text-align: center;
}
	.pagination li{
		/*outline:1px solid;*/
		cursor: pointer;
		display: inline-block;
		margin-left: -2px;
	}
	.pagination li:first-child a, .pagination li:last-child a{
		text-decoration: none;
	}
		.pagination a{
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			color: #4C4C4C;
			display: block;
			padding: 5px 8px;
		}

.pagination a.active{
	background: linear-gradient(to bottom, #0070F4, #3B5FE1);
	color: #fff;
	text-decoration: none;
}
* .pagination a.active{
	background-color: #0070F4;
}

/* Default style for tables*/
table{
	background-color: #E6F9FF;
	font-family: 'tahoma';
	font-size: 13px;
	margin: 270px 15px 60px 15px;
}
	table tr:nth-of-type(2n){
		background-color: #fff;
	}
	/* first-line background for IE8,9 */
	* table tr:first-child{
		background-color: #0579B1;
	}
		table tr:first-child td{
			background: linear-gradient(to bottom, rgba(2,147,202,1), rgba(7,106,163,1));
			border-color: #0395CF;
			border-width: 0 1px 0 1px;
			color: #fff;
			cursor: default;
			text-align: center;
			vertical-align: middle;
		}
		table td{
			border: 1px solid #CDE4EA;
			padding: 15px 15px;
			vertical-align: top;
		}
			table img{
				border: 10px solid #dedede;
				margin: 0;
			}

/*############################   MENU'S   ############################*/
.v-menu, .h-menu{
	font-family: 'Arial';
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
/* VERTICAL MENU */
.v-menu{
	font-size: 14px;
	left: 20px;
	text-align: center;
	text-transform: uppercase;
	top: 160px;
	z-index: 100;
}
.v-menu ul li{
	background: url(../../../../img/menu_bg.png);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px 0;
	max-width: 140px
}
.v-menu ul li:hover{
	background: url(../../../../img/menu_hover.png);
}
	.v-menu a{
		color: #FFFFFF;
		display: block;
		padding: 8px 0;
		text-decoration: none;
	}
.v-menu ul li.active{
	background: url(../../../../img/menu_selected.png);
}
/* HORIZONTAL MENU */
.h-menu{
	font-size: 13px;
	left: 20px;
	top: 250px;
}
	.h-menu ul li{
		display: inline-block;
		margin: 0 23px 0 0;
		vertical-align: top;
	}
	.h-menu ul li:first-child{
		margin-left: 0;
	}
	.h-menu ul li:last-child{
		margin-right: 0;
	}
		.h-menu a{
			color: #2281F4;
			display: block;
			font-weight: bold;
			width: 170px;
			height: 150px;
			padding: 5px 0;
			text-align: center;
		}
			.h-menu ul li img{
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				margin-bottom: 10px;
			}
/* MENU FOR PROGRAMS */
.prog-menu{
	display: inline-block;
	float: left;
	margin: 270px 0 0 20px;
	width: 210px;
}
	.prog-menu>ul>li{
		background-color: #FFFFFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		font-family: 'times';
		margin: 10px 0;
		position: relative;
	}
		.prog-menu>ul>li>span{
			background-color: #2167EA;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			display: table-cell;
			cursor: pointer;
			color: #FFFFFF;
			font-size: 13px;
			height: 60px;
			padding: 0 0 0 20px;
			position: relative;
			vertical-align: middle;
			width: 1000px;
		}
			.prog-menu li span span.big{
				display: block;
				text-transform: uppercase;
			}
			.prog-menu li span small{
				display: block;
				text-transform: lowercase;
				margin-right: 30px;
			}
			.prog-menu li span img{
				display: block;
				float: right;
				top: 24px;
				right: 15px;
				position: absolute;
			}
		.prog-menu li ul{
			border-radius: 0 0 5px 5px;
			-moz-border-radius: 0 0 5px 5px;
			-webkit-border-radius: 0 0 5px 5px;
			box-shadow: 0px 6px 6px rgba(44, 16, 1, 0.3);
			display: none;
			margin-bottom: 25px;
		}
		.prog-menu li ul li{
			background-color: #FFFFFF;
			border-bottom: 1px solid #D8D8D8;
			font-family: Tahoma, sans-serif;
		}
		.prog-menu li ul li:last-child{
			border-bottom: 0;
			border-radius: 0 0 5px 5px;
			-moz-border-radius: 0 0 5px 5px;
			-webkit-border-radius: 0 0 5px 5px;
		}
			.prog-menu ul li a{
				position: relative;
				color: #000;
				display: block;
				line-height: 100%;
				text-decoration: none;
			}
			.prog-menu ul li a span{
				background-color: #2167EA;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				color: #FFF;
				font-size: 15px;
				height: 20px;
				line-height: 18px;
				margin: auto 0;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 10px;
				text-align: center;
				width: 20px;
			}
			.prog-menu ul li a small{
				display: block;
				font-size: 11px;
				margin-left: 40px;
				margin-right: 10px;	
				padding-top: 10px;
			}
			.prog-menu ul li a b{
				display: block;
				font-size: 11px;
				padding-right: 5px;
				margin-left: 40px;
				margin-right: 10px;
				padding-bottom: 10px;
			}

/*##################################   FORM ELEMENTS   ###############################*/
label{
	display: block;
	margin: 15px 0;
	padding: 5px;
}
	label>span{
		display: inline-block;
		font-weight: bold;
		padding: 5px;
		width: 200px;
	}
	label select, label input[type="text"], label input[type="password"]{
		border: 1px solid;
		box-shadow: 5px 5px 3px #757575;
		-mox-box-shadow: 5px 5px 3px #757575;
		-webkit-box-shadow: 5px 5px 3px #757575;
		display: inline-block;
		padding: 5px;
		width: 300px;
	}
	label select{
		width: 310px;
	}
	label textarea{
		display: block;
		border: 1px solid;
		box-shadow: 5px 5px 3px #757575;
		-mox-box-shadow: 5px 5px 3px #757575;
		-webkit-box-shadow: 5px 5px 3px #757575;
		height: 400px;
		resize: none;
		width: 100%;
	}
.button_panel{
	margin-left: 220px;
}
	.button{
		margin-right: 10px;
		min-height: 30px;
		min-width: 100px;
	}

/*##################################   OTHER ELEMENTS   ###############################*/
/* required fields */
.req{
	color:red;
	font-size: 17px;
	font-style: italic;
}
.center{
	text-align: center;
}
.hide{
	display: none;
}
.up-btn{
	background: url(../../../../img/up-btn.png);
	bottom: 90px;
	cursor: pointer;
	display: none;
	height: 33px;
	right: 40px;
	margin: 0;
	position: fixed;
	width: 54px;
}