#---Settings for Apache
Options Indexes FollowSymLinks
DirectoryIndex index.php
AddDefaultCharset UTF-8

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/(.+)/$ /?page=/$1/&var1=$2/ [L,QSA]
RewriteRule ^(.+)/$ /?page=/$1/ [L,QSA]

#---Settings for PHP
php_value output_buffering 1